* {
    font-family: 'Edu QLD Beginner', cursive;
    padding: 0;
    margin: 0;

}

.main-content {
    background-image: url(anime-bg.jpg);
    background-size:cover ;
    height: 100vh;
    
    
    
}

.main-content .btn-1 i {

    font-size: 33px;
    line-height: 60px;
    position: relative;
    left: 16px;
    top: 2px;
    color: white;
    transition: all 0.4s linear 0;
    


}
.sidebar-menu {
    position: fixed;
    top: 0px;
    left: -480px;
    width: 20%;
    height: 100vh;
    background-color:rgba(224, 84, 143, 0.2);
    box-shadow: 0 0px 8px #ff97c480;
    transition: all 0.4s linear ;
    

    
    

}

.sidebar-menu .logo {
    line-height: 60px;
    color: white;
    font-size: 31px;
    font-weight: 600;
    text-align: center;
    padding-top: 4px;
    padding-right: 17px;
    box-shadow: 0 2px 8px #ff97c480;



}

.sidebar-menu .btn-2 i {
    color: rgb(255, 90, 131);
    font-size: 33px;
    position: relative;
    left: 350px;
    top: -48px;
    opacity: 0;
    transition: all 0.4s linear ;
    cursor: pointer;
}

.sidebar-menu .menu {
    position: absolute;
    width: 100%;
    top: 80px;
 
}

.sidebar-menu .menu li {
   margin-top: 6px;
   padding: 14px 16px;
   transition: all 0.4s linear ;


}

.sidebar-menu .menu li i,a {
    color: white;
    text-decoration: none;
    font-size: 20px;

}
.sidebar-menu .menu li i {
    padding-right:8px ;
}


.social-media {
    position: relative;
    bottom: -790px;
    left: 98px;
}

.social-media i,img {
    padding-left: 7px;
    color: rgb(255, 255, 255);
    opacity: 0.6;
    
}

#check {
    display: none;
}

.sidebar-menu .menu li:hover {
    box-shadow: 0 0px 5px rgb(224, 93, 152);


}

.btn-1 i:hover {
    font-size:40px ;
}

.btn-2 i:hover {
     font-size: 38px;
}

.sidebar-menu .social-media i:hover {

    opacity: 1;
    transform: scale(1.1);
}

#check:checked ~ .sidebar-menu {
   left:0px;
}

#check:checked ~ .btn-1 i {
    opacity: 0;
}

#check:checked ~ .sidebar-menu .btn-2 i {
    opacity: 1;
}

.blur-div {
    position: fixed;
    top: 0px;
    left: -480px;
    width: 20%;
    height: 100vh;
    
    transition: all 0.4s linear ;
    
    background-color:rgba(214, 34, 109,0.7);
    filter: blur(101px);
}

#check:checked ~ .blur-div {
    left:0px
}